
{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "overrides": [
      {
        "files": "*.ts",
        "options": {
          "parser": "typescript"
        }
      }
    ]
  }

